* {
  background-color: #303841;
  font-size: 1.3rem;
}
.insidenav {
  background-color: #be3144;
  color: #f0f0f0;
}
.links {
  text-align: center;
}
#about {
  background-color: #303841;
  height: 1000px;
  margin: 0px;
}
.name {
  background-color: #303841;
  color: #f0f0f0;
  text-align: center;
  padding-top: 500px;
}
.lead {
  color: #be3144;
  padding-top: 30px;
}

#work {
  background-color: #45567d;
  margin: 0px;
  height: 1200px;
}

.deck {
  border-color: #45567d;
  background-color: grey;
}
.deck-out {
  background-color: #45567d;
  color: white;
}
.workcap {
  text-align: center;
  text-decoration: underline;
  color: #f0f0f0;
  padding-bottom: 50px;
  padding-top: 100px;
  background-color: #45567d;
}
.cardfoot {
  background-color: #303841;
  margin: 0px;
}
#contact {
  background-color: #303841;
  height: 1500px;
  color: #f0f0f0;
  padding: 40px;
  border-bottom-style: solid;
  border-color: red;
}
.cont {
  padding: 200px;
  height: 500px;
}
.catchup {
  text-align: center;
  /* padding: 50px; */
}
.links {
  padding-top: 50px;
}

.foot {
  background-color: #303841;
  color: #f0f0f0;
  padding: 20px 30px;
  margin-top: 0;
  font-size:0.2rem;
}
